
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.exe
Empty/Empty/bin/
/Empty/.idea/.idea.Empty/.idea/contentModel.xml
/Empty/.vs/Empty/v16/.suo
/Empty/.vs/Empty/v16/Server/sqlite3/storage.ide
/Empty/Empty/bin/Windows/x86/Debug/Empty.exe
/Empty/Empty/bin/Windows/x86/Debug/Empty.pdb
/Empty/Empty/bin/Windows/x86/Debug/MonoFlashLib.exe
/Empty/Empty/bin/Windows/x86/Debug/MonoFlashLib.pdb
/Empty/.idea/.idea.Empty/.idea/contentModel.xml
/Empty/.vs/Empty/v16/.suo
/Empty/.vs/Empty/v16/Server/sqlite3/storage.ide
/Empty/Empty/bin/Windows/x86/Debug/Empty.exe
/Empty/Empty/bin/Windows/x86/Debug/Empty.pdb
/Empty/Empty/bin/Windows/x86/Debug/MonoFlashLib.exe
/Empty/Empty/bin/Windows/x86/Debug/MonoFlashLib.pdb
/Empty/Empty/obj/x86/Debug/Empty.csproj.FileListAbsolute.txt
/Empty/Empty/obj/x86/Debug/Empty.csprojAssemblyReference.cache
/Empty/Empty/obj/x86/Debug/Empty.exe
/Empty/Empty/obj/x86/Debug/Empty.pdb
/Empty/MonoFlashLib/bin/Windows/x86/Debug/MonoFlashLib.exe
/Empty/MonoFlashLib/bin/Windows/x86/Debug/MonoFlashLib.pdb
/Empty/MonoFlashLib/obj/x86/Debug/MonoFlashLib.csprojAssemblyReference.cache
/Empty/MonoFlashLib/obj/x86/Debug/MonoFlashLib.exe
/Empty/MonoFlashLib/obj/x86/Debug/MonoFlashLib.pdb
